Flow_1
[
    {
        "id": "651d9c61.42fc84",
        "type": "tab",
        "label": "Flow 2"
    },
    {
        "id": "1fe2c0c0.a0aa0f",
        "type": "rpi-gpio in",
        "z": "651d9c61.42fc84",
        "name": "button",
        "pin": "11",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 227,
        "y": 156,
        "wires": [
            [
                "a3e0de01.a0f4"
            ]
        ]
    },
    {
        "id": "a3e0de01.a0f4",
        "type": "switch",
        "z": "651d9c61.42fc84",
        "name": "switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "4c3c6262.dc656c"
            ],
            [
                "e9d13cd8.c7457"
            ]
        ]
    },
    {
        "id": "4c3c6262.dc656c",
        "type": "change",
        "z": "651d9c61.42fc84",
        "name": "change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "97b9e12f.2f615"
            ]
        ]
    },
    {
        "id": "e9d13cd8.c7457",
        "type": "change",
        "z": "651d9c61.42fc84",
        "name": "change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "97b9e12f.2f615"
            ]
        ]
    },
    {
        "id": "97b9e12f.2f615",
        "type": "rpi-gpio out",
        "z": "651d9c61.42fc84",
        "name": "LED",
        "pin": "7",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 730,
        "y": 160,
        "wires": []
    }
]
